footer {
    text-align: center;
    
    .footer-bottom {
        height: 150px;
        background-image: url(../../img/footer-bottom.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}