main {
    text-align: center;
    margin: 50px 0;

    .home {
        height: 800px;
        background-image: url(../../img/circle-gold.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5;
    }

    .products-container {
        h2 {
            padding: 35px 0;
            color: $molisana-secondcolor;
            background: linear-gradient(to bottom right,#000149 0%, #23556d 100%);
            text-transform: uppercase;
            font-size: 1.1rem;
        }
    }
    .products {
        @include flex-center;
        .product {
            width: calc(100% / 3);
            position: relative;
            img.cover {
                width: 100%;
            }
            .overlay {
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
            }
            &:hover img.cover {
                opacity: 0.5;
            }
            &:hover .overlay {
                opacity: 1;
                font-size: 1.2rem;
            }
        }
    }
    .product-details {
        background-color: $molisana-secondcolor;
        color: $molisana-color;
        h2 {
            padding: 35px 0;
            color: $molisana-secondcolor;
            background: linear-gradient(to bottom right,#000149 0%, #23556d 100%);
            text-transform: uppercase;
            font-size: 1.2rem;
        }
        img {
            max-width: 100%;
            display: block;
        }
        p {
            line-height: 1.6;
            max-width: 95%;
            margin: auto;
        }
        .other-details {
            @include flex-around-center;
            text-transform: uppercase;
            font-size: 2rem;
            padding: 25px 0;
        }
    }
    
    .news {
        text-align: center;
        h1 {
            padding: 35px 0;
            color: #fff;
            background: linear-gradient(to bottom right,#000149 0%, #23556d 100%);
            text-transform: uppercase;
            font-size: 1.2rem;
        }
    }
}